scripts/google_secret.json
*.gz
*.pyc
scripts/.env
test_reads/*
.snakemake/
logs/*
workflows/downloads/*
workflows/FastQ_Screen_Genomes
workflows/logs*
.env
google_secret.json
workflows/configs/*
sra_sheets/
workflow_sheets/
*.xlsx
*.xls
biosample_sheets/