scripts/*
*.gz
*.pyc
scripts/.env
test_reads/*
.snakemake/
logs/*
workflows/downloads/*
workflows/FastQ_Screen_Genomes
workflows/logs*
.env
google_secret.json
workflows/configs/*
sra_sheets/
workflow_sheets/
*.xlsx
*.xls
biosample_sheets/
biosample_sheets_NEW/*
biosample_sheets_extra/*
sra_sheets_NEW/*
sra_sheets_extra/*
non_minicore_intake_metadata/*
Misc_Scripts/AWS_download/*
Misc_Scripts/Sum_files/*
Misc_Scripts/Mongo_Stuff/Mongo_Backups_sample_metadata/*
Misc_Scripts/Mongo_Stuff/Mongo_Backups_reads/*
Misc_Scripts/Mongo_Stuff/back_up_mongo_reads.sh
Misc_Scripts/Mongo_Stuff/back_up_mongo_sm.sh