aioeasywebdav
amply
backports.functools-lru-cache
boto3
brotlipy
dnspython
dropbox
filechunkio
filelock
ftputil
google-api-python-client
google-cloud-storage
grpcio
importlib-metadata
importlib-resources
oauth2client
peppy
pip-chill
pygments
pymongo
pyopenssl
pysftp
pysocks
pytest
python-dotenv
python-irodsclient
pyu2f
slacker
snakemake
typing-extensions
veracitools
